<html>
  <head>
    <title>Platform documentation.</title>
  </head>

  <body>
    <h1>HeavyD plaftorm documentation.</h1>
    <p>This is the documentation of the HeavyD development platform.</p>

    {% for section in sections %}
      {{ section }}
    {% endfor %}
  </body>
</html>
